In [4]:
import pandas as pd
import numpy as np
# Allows to split your training data and testing data
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score # helps to check performace of model

In [6]:
# Loading dataset into pandas dataframe
credit_card_data = pd.read_csv("D:/Semester 6/Artificial Intelligence/AI Project/creditcard/creditcard.csv")
print(credit_card_data.head())

   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
# We have data for around 2 days of transaction
# dataset information

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
# Checking number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Distribution of legit transaction and fraudlent transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Dataset is highly inbalance and can give wrong predictions
0 -> Normal Transactions
1 -> Fraudlent Transactions

In [10]:
# Seperating data for analysis
legit = credit_card_data[credit_card_data.Class == 0] # Entire row will be stored in legit
fraud = credit_card_data[credit_card_data.Class == 1]
# Pandas Series

In [12]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
# Statistical measures about the data
legit.Amount.describe()
# Mean transaction is about $88
# 25% of transaction amount are less than $5.65
# 50% of transaction amount are less than $22

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()
# Mean transaction is about $122.211
# Higher than normal transcation
# Important insight

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# Comparing the values of both of these classes
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
# Dealing with unbalanced data3
# We will use undersampling
# Build sample dataset containing similar distribution of normal transcations and fraud transaction
# Take randomly 492 transaction from legit one
# Then we will have 492 normal transaction and 492 fraudlent transcation
# Very good dataset
# We can make better prediction using Machine Learning
legit_sample = legit.sample(n=492)
# Random 492 data points

In [17]:
# Concatenating two data frames (legit_sample and fraud)
new_dataset = pd.concat([legit_sample, fraud], axis=0)
# Frames will be added one by one
# axis = 0 row wise
# axis = 1 column wise
# all 492 will be added below legit_sample

In [20]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
164135,116484.0,-0.061519,0.969277,-0.173049,-0.287837,0.752341,-0.958147,1.061145,-0.158766,-0.493780,...,0.409208,1.245239,-0.201460,-0.045336,-0.536940,-0.181137,0.223881,0.235579,24.87,0
165302,117335.0,2.028185,-0.161102,-1.195880,0.222569,0.061082,-0.626423,0.031712,-0.114944,0.373789,...,-0.257087,-0.663446,0.297198,-0.408272,-0.316618,0.205266,-0.075387,-0.074554,4.45,0
121840,76340.0,1.159182,0.135729,-0.127021,0.933530,0.011404,-0.045069,-0.143293,0.066937,0.619933,...,-0.175324,-0.264628,-0.142537,-0.486527,0.534217,0.470348,0.013905,0.037515,29.56,0
111380,72209.0,-2.355663,-1.062768,2.881997,1.612670,-0.239989,1.462987,-1.756041,1.441738,0.836500,...,0.402174,1.111211,-0.222708,-0.210299,0.335265,0.064117,0.339849,-0.143154,58.00,0
273715,165669.0,-1.173373,-0.691140,-0.756420,3.315117,-5.412547,5.033461,6.225019,-0.556144,-1.281716,...,-0.116690,0.025827,1.428896,0.685658,-1.024698,-0.515760,0.617297,-0.227795,1464.25,0

In [21]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()
# Nature of dataset is not changed

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94079.032520,0.069113,0.045661,0.030285,0.145041,-0.017241,-0.008387,0.026167,0.029737,0.015702,...,-0.007889,0.009222,0.024038,0.013292,0.033746,-0.055163,0.021251,-0.009647,-0.018091,84.204553
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
# Split our dataset into features and targets
# Features in x and targets in Y
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [24]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
164135  116484.0 -0.061519  0.969277 -0.173049 -0.287837  0.752341 -0.958147
165302  117335.0  2.028185 -0.161102 -1.195880  0.222569  0.061082 -0.626423
121840   76340.0  1.159182  0.135729 -0.127021  0.933530  0.011404 -0.045069
111380   72209.0 -2.355663 -1.062768  2.881997  1.612670 -0.239989  1.462987
273715  165669.0 -1.173373 -0.691140 -0.756420  3.315117 -5.412547  5.033461
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
164135  1.061145 -0.158766 -0.493780  ... -0.052335  0.409208  1.245239
165302  0.031712 -0.114944  0.373789  ... -0.233706 -0.257087 -0.663446
121840 -0.143293  0.066937  0.619933  ... -0.055603 -0.175324 -0.264628
111380 -1.756041  1.441738  0.836500  ...  0.539416  0.402174  1.111211
273715  6.225019 -0.556144 -1.281716  ...  0.081206 -0.116690  0.025827
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
164135 -0.201460 -0.045336 -0.536940 -0.181137  0.223881  0.235579    24.87
165302  0.297198 -0.408272 -0.316618  0.205266 -0.075387 -0.074554     4.45
121840 -0.142537 -0.486527  0.534217  0.470348  0.013905  0.037515    29.56
111380 -0.222708 -0.210299  0.335265  0.064117  0.339849 -0.143154    58.00
273715  1.428896  0.685658 -1.024698 -0.515760  0.617297 -0.227795  1464.25
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [25]:
print(Y)

164135    0
165302    0
121840    0
111380    0
273715    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [26]:
# Split data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)
# Features in X_train and X_test and corresponding labels in Y_train and Y_test
# stratify = Y : Equally distributed two classes in X_train and X_test

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [38]:
# Model training -> Logistic Regression
# For Binary Classification 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)
model = LogisticRegression(max_iter=1000)

In [39]:
# Training the logistic regression model with training data
# Will fit out data in model

model.fit(X_train_scaled, Y_train)

LogisticRegression(max_iter=1000)

In [40]:
# Accuracy on training data
X_train_prediction = model.predict(X_train_scaled)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy is: ', training_data_accuracy)

Accuracy is:  0.951715374841169

In [41]:
# Accuracy score above 75% is very good
# Accuracy score in test data is very imp
X_test_prediction = model.predict(X_test_scaled)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print("Accuracy of testing data: ", test_data_accuracy)

Accuracy of testing data:  0.934010152284264

In [42]:
# Overfitted when accuracy_score is very different in training and testing prediction training > testing
# Underfitting when testing accuracy score is > training accuracy score